#clock {
  font-size: 8em;
}
#desc {
  padding: 30px 0;
  font-size: 2em;
}

#timers ul {
  list-style: none;
}

#clock-container {
  width: 19em;
}
#clock-container button {
  width:  100%;
}

#stop_timer {
  display: none;
}